body {
  font-family: Helvetica, arial, sans-serif;
  text-align: center;
  background: #E8F2F1;
  color: #656A6D;
  text-transform: lowercase;
  font-weight: 200;
}

#gender {
  font-size: 100px;
  text-align: center;
  border: none;
  border-bottom: 4px dashed #ccc;
  max-width: 100%;
  background-color: #E8F2F1;
}

#gender:focus {
  outline: none;
}

#result p {
  font-size: 72px;
}

#link a {
  font-size: 18px;
  color: #656A6D;
}