body {
  font-family: Helvetica, arial, sans-serif;
  text-align: center;
}

#gender {
  font-size: 100px;
  text-align: center;
  border: none;
  border-bottom: 4px dashed #ccc;
}

#gender:focus {
  outline: none;
}

#result p {
  font-size: 72px;
}